*~
*.DS_Store
*.class
*java#
*.settings
local.properties
.arc/
bin/
gen/
out/
target/
.gradle/
build/
.idea/
.gradle
gradle/
*.iml
remind101_test.jks
*.db
com_crashlytics_export_strings.xml
crashlytics-build.properties
.gradletasknamecache
app/gradle.properties

nohup.out
*~

.tx/remind-android.stringsxml
app/gradle.properties